@model Pizza


<div class="card" style="width: 18rem;">
    <img src="@Model.Image" class="card-img-top" alt="@Model.Name">
    <div class="card-body">
        <h2>@Model.Name</h2>
        <span>@Model.Price Euro</span>
        <p class="card-text">@Model.Description</p>
    </div>
</div>