@model Pizza

<div id="detailPizza" class="d-flex justify-content-center">
    <div class="card text-center" style="width: 50%;">
        <img src="@Model.Image" class="card-img-top" alt="@Model.Name">
        <div class="card-body">
            <h2>@Model.Name</h2>
            <span>@Model.Price Euro</span>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
</div>